@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap");

.mt-6 {
  margin-top: 5rem !important;
}
.mt-7 {
  margin-top: 7rem !important;
}
.btn-xl{
    padding: .6rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.7;
    border-radius: .5rem;
}
.close:focus{
  outline: none;
}

body {
  background-image: url("../img/fondos/fondo.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
#slogan {
  padding: 2em;

  background: rgba(255, 255, 255, 0.7);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0.7)),
    color-stop(100%, rgba(255, 255, 255, 0.7))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
#brand-slogan {
  font-family: "Merriweather", serif;
  font-size: 7em;
}
#bsq-d,#res-d{
  height: fit-content;
  background-color: #343a40;
  border-radius: 10px; 
  border-color: none;
  filter: drop-shadow(0 0.2rem 0.2rem #4d5358);
}
#list-view-ingred{
max-height: 150px;
overflow: auto;
}
#ttl-s{
  font-family: "Merriweather", serif;
  color: #ffffff;
}
@media only screen and (max-width: 765px) {
    #brand-slogan{
        font-size: 6em;
    }
  }
  @media only screen and (max-width: 575px) {
    #brand-slogan{
        font-size: 4em;
    }
  }
  @media only screen and (min-width: 1445px) {
    #brand-slogan{
        font-size: 9em;
    }
  }
