<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../static/js/bsq-ab.js " async="true"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="input-group mt-2">
        <input type="text" id="in-receta" class="form-control" placeholder="Platillo" aria-label="Receta"
            aria-describedby="button-srch">
        <div class="input-group-append">
            <button class="btn btn-danger" type="button" id="button-srch">Buscar</button>
        </div>
    </div>
</body>


</html>