<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../static/js/bsq-ab.js "></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="input-group mb-3">
        <input type="text" id="in-ingred" class="form-control" placeholder="Ingredientes" aria-label="Ingredientes"
            aria-describedby="button-add">
        <div class="input-group-append">
            <button class="btn btn-danger" type="button" id="button-add">Agregar</button>
        </div>
    </div>
    <div id="list-view-ingred">
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning ths-ls" style="display: none;">Debe contener:</li>
        </ul>
    </div>
    <button class="btn btn-warning btn-block mt-2" type="button" id="button-res">Buscar</button>

</body>


</html>